<div class="footer">
    <div>
        <span class="brand">{{ 'CARRLEASING' | translate }}</span>
        <div class="cont-terms">
            <span>{{ 'TERMS_OF_USE' | translate }}</span>
        </div>
    </div>
    <div>
        <span class="extra-bold">{{ 'CONTACT_US' | translate}}:</span>
        <p><a href="tel:+13059062910">+1 (305) 906 2910</a></p>
        <p><a href="mailto:danny@carrleasing.com">danny@carrleasing.com</a></p>
        <div class="icons-container">
            <a href="https://www.instagram.com/carrleasing/" target="_blank">
                <div class="social-media-icon" style="background-image: url(/assets/images/icons/instagram.png);"></div>
            </a>
        </div>
    </div>
</div>