<div class="contact-us" id="contactUs">
    <div class="title" data-aos="zoom-in-right" data-aos-easing="ease-in-out">
        <div>{{ 'CON' | translate }}</div>
        <div>{{ 'TACT' | translate }}</div>
        <div>{{ 'US' | translate }}</div>
    </div>
    <div>
        <form method="get" enctype="text/plain">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
                            <input placeholder="John Michael" matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
                            <input placeholder="Doe McCartney" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'EMAIL' | translate }}</mat-label>
                            <input placeholder="Doemichael@example.com" matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'PHONE' | translate }}</mat-label>
                            <input placeholder="300-000-000" matInput>
                        </mat-form-field>
                    </td>
                </tr>

            </table>
            <div class="container-textarea">
                <textarea placeholder="{{ 'MESSAGE' | translate }}" id="message"></textarea>
            </div>
            <button type="submit" class="btn-contact-us">{{ 'SUBMIT' | translate }}</button>
        </form>
    </div>
</div>