<div class="contact-us" id="contactUs">
    <div class="title" data-aos="zoom-in-right" data-aos-easing="ease-in-out">
        <div>CON</div>
        <div>TACT</div>
        <div>US</div>
    </div>
    <div data-aos="zoom-in-left" data-aos-easing="ease-in-out">
        <form method="get" enctype="text/plain">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>First name</mat-label>
                            <input placeholder="John Michael" matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>Last name</mat-label>
                            <input placeholder="Doe McCartney" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input placeholder="Doemichael@example.com" matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>Phone</mat-label>
                            <input placeholder="300-000-000" matInput>
                        </mat-form-field>
                    </td>
                </tr>

            </table>
            <div class="container-textarea">
                <textarea placeholder="Message" id="message"></textarea>
            </div>
            <button type="submit" class="btn-contact-us">Submit</button>
        </form>
    </div>
</div>