<div class="container-how-work" id="howWorks">
    <div class="title">
        <span class="extra-bold">{{ 'HOW_WORKS' | translate }}</span>
        <span>{{ 'MADE_EASIER' | translate }}</span>
    </div>
    <div class="steps">
        <div class="container-step" data-aos="fade-right" data-aos-offset="50" data-aos-easing="ease-in-out">
            <div class="extra-bold">1</div>
            <div>
                <img class="img-step step-car" src="/assets/images/icons/car.svg" alt="">
                <div class="title-step"><span class="extra-bold">{{ 'STEP1_TITLE' | translate }}</span></div>
                <p>{{ 'STEP1_BODY' | translate }}</p>
            </div>
        </div>
        <div class="container-step" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-out">
            <div class="extra-bold">2</div>
            <div>
                <img class="img-step" src="/assets/images/icons/pen.svg" alt="">
                <div class="title-step"><span class="extra-bold">{{ 'STEP2_TITLE' | translate }}</span></div>
                <p>{{ 'STEP2_BODY' | translate }}</p>
            </div>
        </div>
        <div class="container-step" data-aos="fade-right" data-aos-offset="250" data-aos-easing="ease-in-out">
            <div class="extra-bold">3</div>
            <div>
                <img class="img-step" src="/assets/images/icons/clock.svg" alt="">
                <div class="title-step"><span class="extra-bold">{{ 'STEP3_TITLE' | translate }}</span></div>
                <p>{{ 'STEP3_BODY' | translate }}</p>
            </div>
        </div>
    </div>
</div>