<div class="container-how-work">
    <div class="title">
        <span class="extra-bold">how it works</span>
        <span>made easier</span>
    </div>
    <div class="steps">
        <div class="container-step">
            <div class="extra-bold">1</div>
            <div>
                <img src="/assets/icons/car.svg" alt="">
                <div class="title-step"><span class="extra-bold">Select</span> your <span
                        class="extra-bold">vehicle</span><br>or your preference</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, esse mollitia exercitationem ducimus
                    reprehenderit itaque unde enim dignissimos deleniti non corrupti officia nam labore rem, iure hic
                    adipisci? Aut, fuga!</p>
            </div>
        </div>
        <div class="container-step">
            <div class="extra-bold">2</div>
            <div>
                <img src="/assets/icons/pen.svg" alt="">
                <div class="title-step"><span class="extra-bold">Choose</span> the <span class="extra-bold">terms</span>
                    that<br>best suit <span class="extra-bold">your needs</span></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, esse mollitia exercitationem ducimus
                    reprehenderit itaque unde enim dignissimos deleniti non corrupti officia nam labore rem, iure hic
                    adipisci? Aut, fuga!</p>
            </div>
        </div>
        <div class="container-step">
            <div class="extra-bold">3</div>
            <div>
                <img src="/assets/icons/clock.svg" alt="">
                <div class="title-step"><span class="extra-bold">Schedule</span> your<br>delivery <span
                        class="extra-bold">date</span></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, esse mollitia exercitationem ducimus
                    reprehenderit itaque unde enim dignissimos deleniti non corrupti officia nam labore rem, iure hic
                    adipisci? Aut, fuga!</p>
            </div>
        </div>
    </div>
</div>