<div class="container-how-work">
    <div class="title">
        <span class="extra-bold">how it works</span>
        <span>made easier</span>
    </div>
    <div class="steps">
        <div class="container-step">
            <div class="extra-bold">1</div>
            <div>
                <img src="/assets/icons/car.svg" alt="">
                <div class="title-step"><span class="extra-bold">Select</span> your <span
                        class="extra-bold">vehicle</span><br>or your preference</div>
                <p>We are associated with the best dealershit to guarantee you accesibility, transparency and speed to
                    the best prices on the market without leaving your home.</p>
            </div>
        </div>
        <div class="container-step">
            <div class="extra-bold">2</div>
            <div>
                <img src="/assets/icons/pen.svg" alt="">
                <div class="title-step"><span class="extra-bold">Choose</span> the <span class="extra-bold">terms</span>
                    that<br>best suit <span class="extra-bold">your needs</span></div>
                <p>We offer all types of vehicles inventory and leasing flexibility. We offer diversity, so you can
                    choose your leasing or financing term and find the option that best suits your needs.</p>
            </div>
        </div>
        <div class="container-step">
            <div class="extra-bold">3</div>
            <div>
                <img src="/assets/icons/clock.svg" alt="">
                <div class="title-step"><span class="extra-bold">Schedule</span> your<br>delivery <span
                        class="extra-bold">date</span></div>
                <p>Once you have decided the perfect vehicle fou you and the terms and conditions are agreed, we will
                    send the car tou you at the comfort of your home or office.</p>
            </div>
        </div>
    </div>
</div>