<div class="container-models" id="models">
    <h1 class="extra-bold">Select your model</h1>
    <div data-aos="fade-right" data-aos-easing="ease-in-out" class="yellow-subline"></div>
    <div class="model-list">
        <div class="model" *ngFor="let model of models" data-aos="fade-left" data-aos-easing="ease-in-out">
            <div [ngStyle]="{'background-image': 'url(' + model.imageUrl + ')'}"></div>
            <p class="extra-bold">{{ model.name }}</p>
        </div>
    </div>
    <owl-carousel-o [options]="customOptions" class="model-carousel">
        <ng-template carouselSlide *ngFor="let model of models">
            <div class="image-carousel">
                <div [ngStyle]="{'background-image': 'url(' + model.imageUrl + ')'}"></div>
                <p class="extra-bold">{{ model.name }}</p>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>