* {
  &:focus {
    outline: none !important;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "GilroyLight";
}
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~@angular/material/theming";
@include mat-core();
$candy-app-primary: mat-palette($mat-amber, 400);
$candy-app-accent: mat-palette($mat-amber, A200, A100, A400);
$candy-app-warn: mat-palette($mat-amber);

$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);
@include angular-material-theme($candy-app-theme);
