$white: white;
$grey: grey;
$blue: #16142a;
$dark-blue: #03021a;
$black: black;
$yellow: #ffc371;
$red: rgb(240, 15, 15);
$transparent: transparent;
$transparent-black: rgba(25, 25, 25, 0.68);
$shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
