<div class="container-customize" id="quote">
    <div class="bg-image"></div>
    <div class="container-text">
        <h1 class="extra-bold" data-aos="zoom-in" data-aos-easing="ease-in-out">{{ 'CUSTIMIZE_TITLE' | translate }}</h1>
        <h4 data-aos="zoom-in" data-aos-easing="ease-in-out">{{ 'CUSTIMIZE_SUBTITLE' | translate }}</h4>
        <button data-aos="zoom-in" data-aos-offset="100" data-aos-easing="ease-in-out"
            (click)="showConfirm()">{{ 'CUSTIMIZE_BUTTON' | translate }}</button>
    </div>
</div>