.container-home-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  .principal-text {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0px;
  }
  .secondary-text {
    margin-top: 2px;
  }
  @media (max-width: 750px) {
    .principal-text {
      font-size: 18px;
      margin-top: 60px;
    }
  }
}

.container-want-car {
  background-color: $dark-blue;
  height: 450px;
  display: flex;
  div.container-text {
    padding: 50px;
    padding-top: 100px;
    z-index: 1;
    h1 {
      letter-spacing: 10px;
    }
    h1,
    h2 {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 {
      margin-top: -20px;
      margin-bottom: 30px;
    }
    p {
      width: 40%;
      color: white;
      font-size: 20px;
      line-height: 1.5;
      margin-top: 40px;
      text-align: justify;
    }
    @media (max-width: 620px) {
      padding: 40px;
      padding-top: 50px;
      height: 500px;
      p {
        width: 100% !important;
      }
    }
  }
  div.image-bg {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 450px;
    left: 0;
    padding: 0;
    background-image: url("/assets/images/bg/2x1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    @media (max-width: 620px) {
      background-position: center right;
    }
  }
}
.container-how-work {
  background-color: $dark-blue;
  padding: 20px;
  padding-bottom: 50px;
  min-height: 400px;
  padding-top: 100px;
  @media (max-width: 620px) {
    padding-top: 20px;
  }
  .title {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $yellow;
    span {
      position: absolute;
      width: 100%;
      left: 0;
    }
    span:first-child {
      font-size: 55px;
      opacity: 0.2;
      letter-spacing: 8px;
    }
    span:last-child {
      margin-top: 25px;
      letter-spacing: 9px;
    }
  }
  .steps {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .container-step {
      max-width: 350px;
      margin-bottom: 20px;
      display: flex;
      @media (max-width: 654px) {
        margin-bottom: 0;
      }
      .title-step {
        font-size: 20px;
      }
      img.img-step {
        width: 30px !important;
        margin-bottom: 15px;
      }
      img.img-step.step-car {
        width: 50px !important;
        margin-bottom: 15px;
      }
      div:first-child {
        color: $yellow;
        font-size: 25px;
        border-right: 2px solid $yellow;
        padding-right: 5px;
        min-width: 20px;
        img {
          width: 50px;
          margin-bottom: 10px;
        }
      }
      div:last-child {
        margin-left: 20px;
        padding-left: 10px;
        padding-right: 30px;
        color: $white;
      }
    }
  }

  @media (max-width: 511px) {
    .steps {
      margin-top: 220px;
    }
    .title {
      span:last-child {
        margin-top: 58px;
      }
    }
  }
}

.container-brands {
  min-height: 400px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  @media (max-width: 620px) {
    padding-top: 20px;
  }
  .brand-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 150px 0px 150px;
    .brand {
      display: flex;
      justify-content: center;
      margin: 20px;
      width: 100px;
      height: 100px;
      cursor: pointer;
      img {
        width: 60%;
        transition: 0.3s;
      }
      &:hover {
        img {
          width: 80%;
        }
      }
    }
  }
  @media (max-width: 900px) {
    .brand-list {
      padding: 50px 10px 0px 10px;
      .brand {
        margin: 10px;
        width: 80px;
        height: 80px;
      }
    }
  }
}

.container-models {
  background-color: $grey;
  min-height: 400px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  @media (max-width: 620px) {
    padding-top: 20px;
  }
  .model-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 50px 0px 50px;
    .model {
      display: flex;
      margin: 10px 0 10px 0;
      width: 250px;
      justify-content: center;
      cursor: pointer;
      border-bottom: 2px dashed #ebebeb;
      padding-bottom: 15px;
      div {
        width: 100px;
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      p {
        margin-top: 45px;
        font-weight: bold;
        text-indent: 15px;
        font-size: 15px;
      }
    }
  }
  @media (max-width: 900px) {
    .model-list {
      display: none;
    }
  }
}
.container-customize {
  min-height: 400px;
  background-color: $dark-blue;
  div.bg-image {
    background-image: url("/assets/images/bg/6x1.png");
    position: absolute;
    width: 100%;
    height: 400px;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }
  div.container-text {
    text-align: center;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    color: $yellow;
    width: 100%;
    h1 {
      margin-top: 100px;
      font-size: 40px;
      margin-bottom: -20px;
    }
    h4 {
      letter-spacing: 10px;
      margin-bottom: 50px;
      @media (max-width: 500px) {
        letter-spacing: 6px;
      }
    }
    h1,
    h4 {
      text-transform: uppercase !important;
      opacity: 0.7 !important;
    }
    button {
      width: 160px;
      height: 45px;
      border-radius: 5px;
      border: 1px solid $yellow;
      color: $yellow;
      font-size: 16px;
      text-align: center;
      background-color: $transparent;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: $transparent-black;
      }
    }
  }
}
.container-testimonials {
  min-height: 400px;
  padding: 50px;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 40px;
  }
  h5 {
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: -20px;
    color: $dark-grey;
  }
}

@media screen and (min-device-width: 1350px), screen and (min-width: 1350px) {
  .container-home-text {
    .principal-text {
      font-size: 50px;
    }
    .secondary-text {
      font-size: 25px;
      margin-top: 2px;
    }
  }

  .container-want-car {
    height: 600px;
    div.container-text {
      padding: 50px;
      padding-top: 100px;
      h1 {
        font-size: 45px;
      }
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 25px;
      }
    }
    div.image-bg {
      height: 600px;
    }
  }

  .container-how-work {
    padding: 30px;
    padding-bottom: 80px;
    min-height: 450px;
    .title {
      padding-bottom: 30px;
      padding-top: 50px;
      span:first-child {
        font-size: 50px;
      }
      span:last-child {
        font-size: 20px;
        margin-top: 20px;
      }
    }
    .steps {
      .container-step {
        margin-bottom: 80px;
        div.extra-bold {
          font-size: 25px;
        }
        .title-step {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
        img.img-step {
          width: 50px !important;
          margin-bottom: 20px;
        }
        img.img-step.step-car {
          width: 70px !important;
          margin-top: 10px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .container-brands {
    padding: 50px;
    padding-top: 100px;
    h1 {
      font-size: 40px;
    }
    .brand-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 50px 300px 0px 300px;
      .brand {
        width: 130px;
        height: 130px;
      }
    }
  }

  .container-models {
    .model-list {
      .model {
        margin: 10px;
        div {
          width: 150px;
          height: 150px;
        }
        p {
          margin-top: 65px;
          font-size: 20px;
        }
      }
    }
  }

  .container-customize {
    min-height: 500px;
    div.container-text {
      h1 {
        margin-top: 150px;
        font-size: 50px;
      }
      h4 {
        font-size: 20px;
      }
      button {
        width: 180px;
        height: 55px;
        font-size: 20px;
      }
    }
  }

  .container-testimonials {
    min-height: 500px;
    padding-top: 100px;
    h1 {
      font-size: 50px;
    }
    h5 {
      font-size: 20px;
    }
  }
}
.container-second-quote {
  padding: 10px;
  background-color: #ececec;
  border-radius: 5px;
}
