.container-home-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  .principal-text {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0px;
  }
}

.container-want-car {
  background-color: $dark-blue;
  height: 480px;
  display: flex;
  div {
    flex: 1 1;
    padding: 50px;
    z-index: 1;
    h1 {
      letter-spacing: 10px;
    }
    h1,
    h2 {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 {
      margin-top: -20px;
      margin-bottom: 30px;
    }
    p {
      color: white;
      font-size: 20px;
      line-height: 1.5;
      margin-top: 40px;
      text-align: justify;
    }
  }
  div.image-bg {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 480px;
    left: 0;
    padding: 0;
    background-image: url("/assets/images/audi-wallpaper.jpg");
    background-position: center;
    z-index: 0;

    @media (max-width: 620px) {
      background-position: center right;
    }
  }
}
.container-how-work {
  background-color: $dark-blue;
  padding: 20px;
  min-height: 400px;
  .title {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $yellow;
    span {
      position: absolute;
      width: 100%;
      left: 0;
    }
    span:first-child {
      font-size: 55px;
      opacity: 0.2;
      letter-spacing: 8px;
    }
    span:last-child {
      margin-top: 25px;
      letter-spacing: 9px;
    }
  }
  .steps {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .container-step {
      max-width: 300px;
      margin-bottom: 20px;
      display: flex;
      @media (max-width: 654px) {
        margin-bottom: 0;
      }
      .title-step {
        font-size: 20px;
      }
      div:first-child {
        color: $yellow;
        font-size: 25px;
        border-right: 2px solid $yellow;
        padding-right: 5px;
        min-width: 20px;
        img {
          width: 80px;
          margin-bottom: 10px;
        }
      }
      div:last-child {
        margin-left: 20px;
        padding-left: 10px;
        padding-right: 30px;
        color: $white;
      }
    }
  }

  @media (max-width: 511px) {
    .steps {
      margin-top: 220px;
    }
    .title {
      span:last-child {
        margin-top: 58px;
      }
    }
  }
}

.container-brands {
  min-height: 400px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  .brand-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 150px 0px 150px;
    .brand {
      display: flex;
      justify-content: center;
      margin: 20px;
      width: 100px;
      height: 100px;
      cursor: pointer;
      img {
        width: 60%;
        transition: 0.3s;
      }
      &:hover {
        img {
          width: 80%;
        }
      }
    }
  }
  @media (max-width: 900px) {
    .brand-list {
      padding: 50px 10px 0px 10px;
      .brand {
        margin: 10px;
        width: 80px;
        height: 80px;
      }
    }
  }
}

.container-models {
  background-color: $grey;
  min-height: 400px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  .model-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 50px 0px 50px;
    .model {
      display: flex;
      margin: 10px 0 10px 0;
      width: 250px;
      justify-content: center;
      cursor: pointer;
      border-bottom: 2px dashed #ebebeb;
      padding-bottom: 15px;
      img {
        max-width: 100px;
      }
      p {
        margin-top: 35px;
        font-weight: bold;
        text-indent: 15px;
        font-size: 15px;
      }
    }
  }
  @media (max-width: 900px) {
    .model-list {
      display: none;
    }
  }
}
.container-customize {
  min-height: 400px;
  background-color: $dark-blue;
  div.bg-image {
    background-image: url("/assets/images/home.png");
    position: absolute;
    width: 100%;
    height: 400px;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  div.container-text {
    text-align: center;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    color: $yellow;
    width: 100%;
    h1 {
      margin-top: 100px;
      font-size: 40px;
      margin-bottom: -20px;
    }
    h4 {
      letter-spacing: 10px;
      margin-bottom: 50px;
      @media (max-width: 500px) {
        letter-spacing: 6px;
      }
    }
    h1,
    h4 {
      text-transform: uppercase;
      opacity: 0.7;
    }
    button {
      width: 160px;
      height: 45px;
      border-radius: 5px;
      border: 1px solid $yellow;
      color: $yellow;
      font-size: 16px;
      text-align: center;
      background-color: $transparent;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: $transparent-black;
      }
    }
  }
}
.container-testimonials {
  min-height: 400px;
  padding: 50px;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 40px;
  }
  h5 {
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: -20px;
    color: $dark-grey;
  }
}
