.container-home-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  .principal-text {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0px;
  }
}

.container-want-car {
  background-color: $dark-blue;
  height: 480px;
  display: flex;
  div {
    flex: 1 1;
    padding: 50px;
    z-index: 1;
    h1 {
      letter-spacing: 10px;
    }
    h1,
    h2 {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 {
      margin-top: -20px;
      margin-bottom: 30px;
    }
    p {
      color: white;
      font-size: 20px;
      line-height: 1.5;
      margin-top: 40px;
      text-align: justify;
    }
  }
  div.image-bg {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 480px;
    left: 0;
    padding: 0;
    background-image: url("/assets/images/audi-wallpaper.jpg");
    background-position: center;
    z-index: 0;

    @media (max-width: 620px) {
      background-position: center right;
    }
  }
}
.container-how-work {
  background-color: $dark-blue;
  padding: 20px;
  min-height: 400px;
  .title {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $yellow;
    span {
      position: absolute;
      width: 100%;
      left: 0;
    }
    span:first-child {
      font-size: 55px;
      opacity: 0.2;
      letter-spacing: 8px;
    }
    span:last-child {
      margin-top: 25px;
      letter-spacing: 9px;
    }
  }
  .steps {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .container-step {
      max-width: 300px;
      margin-bottom: 20px;
      display: flex;
      .title-step {
        font-size: 20px;
      }
      div:first-child {
        color: $yellow;
        font-size: 25px;
        border-right: 2px solid $yellow;
        padding-right: 5px;
        min-width: 20px;
        img {
          width: 80px;
          margin-bottom: 10px;
        }
      }
      div:last-child {
        margin-left: 20px;
        padding-left: 10px;
        padding-right: 30px;
        color: $white;
      }
    }
  }

  @media (max-width: 511px) {
    .steps {
      margin-top: 220px;
    }
    .title {
      span:last-child {
        margin-top: 58px;
      }
    }
  }
}

.container-brands {
  min-height: 400px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  .brand-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 150px 0px 150px;
    .brand {
      display: flex;
      justify-content: center;
      margin: 20px;
      width: 100px;
      height: 100px;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      img {
        width: 60%;
        transition: 0.3s;
      }
      &:hover {
        img {
          width: 80%;
        }
      }
    }
  }
  @media (max-width: 900px) {
    .brand-list {
      display: none;
    }
  }
}
