<div class="modal-content">
    <div class="modal-body">
        <button type="button" class="btn-close" (click)="close()">x</button>
        <form [formGroup]="customizeData" (ngSubmit)="sendQuote(customizeData)" class="form-customize"
            id="formCustomize">
            <h2 class="extra-bold">{{ 'CUSTOMIZE_VEHICLE' | translate }}</h2>
            <h3>{{ 'CONTACT_INFORMATION' | translate }}</h3>
            <table class="customize-table" formGroupName="ContactInformation">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
                            <input formControlName="firstName" placeholder="John Michael" matInput required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
                            <input formControlName="lastName" placeholder="Doe McCartney" matInput required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'EMAIL' | translate }}</mat-label>
                            <input formControlName="email" placeholder="Doemichael@example.com" matInput required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'PHONE' | translate }}</mat-label>
                            <input formControlName="phone" placeholder="300-000-000" matInput required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'STATE' | translate }}</mat-label>
                            <mat-select formControlName="state" required>
                                <mat-option *ngFor="let state of states" [value]="state.name">
                                    {{ state.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'CITY' | translate }}</mat-label>
                            <input formControlName="city" placeholder="New York" matInput required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <h3>{{ 'VEHICLE_INFORMATION' | translate }}</h3>
            <table class="customize-table" formGroupName="VehicleInformation">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'BRANDS' | translate }}</mat-label>
                            <mat-select formControlName="brand">
                                <mat-option *ngFor="let brand of brands" [value]="brand.name">
                                    {{ brand.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'MODEL' | translate }}</mat-label>
                            <input formControlName="model" placeholder="MS" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'YEAR' | translate }}</mat-label>
                            <mat-select formControlName="year">
                                <mat-option *ngFor="let year of years" [value]="year.name">
                                    {{ year.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'MILEAGE' | translate }}</mat-label>
                            <input formControlName="mileage" placeholder="1000/5000" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <mat-radio-group formControlName="status">
                        <td>
                            <mat-radio-button value="New">{{ 'NEW' | translate }}
                            </mat-radio-button>
                        </td>
                        <td>
                            <mat-radio-button value="Used">{{ 'USED' | translate }}
                            </mat-radio-button>
                        </td>
                    </mat-radio-group>
                </tr>

                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'EXTERIOR_COLOR' | translate }}</mat-label>
                            <input formControlName="exteriorColor" placeholder="Blue" matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'INTERIOR_COLOR' | translate }}</mat-label>
                            <input formControlName="interiorColor" placeholder="Brown" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'AUDIO_QUALITY' | translate }}</mat-label>
                            <mat-select formControlName="audioQuality">
                                <mat-option *ngFor="let audioQuality of audioQualities" [value]="audioQuality.name">
                                    {{ audioQuality.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'SPECIAL_FEATURES' | translate }}</mat-label>
                            <input formControlName="specialFeatures" placeholder="Leather Upholstery" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'BRAKES' | translate }}</mat-label>
                            <mat-select formControlName="brakes">
                                <mat-option *ngFor="let brake of brakes" [value]="brake.name">
                                    {{ brake.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'TRANSMISSION' | translate }}</mat-label>
                            <mat-select formControlName="transmission">
                                <mat-option *ngFor="let transmission of transmissions" [value]="transmission.name">
                                    {{ transmission.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label>{{ 'DRIVE_SYSTEM' | translate }}</mat-label>
                            <mat-select formControlName="driveSystem">
                                <mat-option *ngFor="let driveSystem of driveSystems" [value]="driveSystem.name">
                                    {{ driveSystem.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <h3>{{ 'LEASING_FINANSING_TERMS' | translate }}</h3>
            <table class="customize-table" formGroupName="FinancingTerms">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'DURATION' | translate }}</mat-label>
                            <mat-select formControlName="duration">
                                <mat-option *ngFor="let duration of durations" [value]="duration.name">
                                    {{ duration.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>{{ 'ANNUAL_MILEAGE' | translate }}</mat-label>
                            <input formControlName="annualMileage" placeholder="12000" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label>{{ 'DOWN_PAYMENT' | translate }}</mat-label>
                            <input formControlName="downPayment" placeholder="$4000" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <mat-label>{{ 'MONTHLY_BUDGET' | translate }}</mat-label>
                            <input formControlName="monthlyBudget" placeholder="$5000" matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-checkbox formControlName="prepaidMaintenance" class="checkbox-cust-form">
                            {{ 'PRE_PAID_MAINTENANCE' | translate }}
                        </mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox formControlName="tireWheelProtection" class="checkbox-cust-form">
                            {{ 'TIRE_WHEEL_PROTECTION' | translate }}
                        </mat-checkbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-checkbox formControlName="appearanceProtection" class="checkbox-cust-form">
                            {{ 'APPEARANCE_PROTECTION' | translate }}
                        </mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox formControlName="excessWearTear" class="checkbox-cust-form">
                            {{ 'EXCESS_WEAR_TEAR' | translate }}</mat-checkbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-checkbox formControlName="dentDingProtection" class="checkbox-cust-form">
                            {{ 'DENT_DING_PROTECTION' | translate }}
                        </mat-checkbox>
                    </td>
                </tr>
            </table>
            <div class="secondQuoteClick" (click)="activeSecondQ = !activeSecondQ">
                <h3>{{ 'MAKE_A_SECOND_QUOTE' | translate }}</h3>
            </div>

            <div *ngIf="activeSecondQ" class="container-second-quote">
                <h3>{{ 'VEHICLE_INFORMATION' | translate }}</h3>
                <table class="customize-table" formGroupName="SecondVehicleInformation">
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'BRANDS' | translate }}</mat-label>
                                <mat-select formControlName="brand2">
                                    <mat-option *ngFor="let brand of brands" [value]="brand.name">
                                        {{ brand.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'MODEL' | translate }}</mat-label>
                                <input formControlName="model2" placeholder="MS" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'YEAR' | translate }}</mat-label>
                                <mat-select formControlName="year2">
                                    <mat-option *ngFor="let year of years" [value]="year.name">
                                        {{ year.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'MILEAGE' | translate }}</mat-label>
                                <input formControlName="mileage2" placeholder="1000/5000" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <mat-radio-group formControlName="status2">
                            <td>
                                <mat-radio-button value="New">{{ 'NEW' | translate }}
                                </mat-radio-button>
                            </td>
                            <td>
                                <mat-radio-button value="Used">{{ 'USED' | translate }}
                                </mat-radio-button>
                            </td>
                        </mat-radio-group>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'EXTERIOR_COLOR' | translate }}</mat-label>
                                <input formControlName="exteriorColor2" placeholder="Blue" matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'INTERIOR_COLOR' | translate }}</mat-label>
                                <input formControlName="interiorColor2" placeholder="Brown" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'AUDIO_QUALITY' | translate }}</mat-label>
                                <mat-select formControlName="audioQuality2">
                                    <mat-option *ngFor="let audioQuality of audioQualities" [value]="audioQuality.name">
                                        {{ audioQuality.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'SPECIAL_FEATURES' | translate }}</mat-label>
                                <input formControlName="specialFeatures2" placeholder="Leather Upholstery" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'BRAKES' | translate }}</mat-label>
                                <mat-select formControlName="brakes2">
                                    <mat-option *ngFor="let brake of brakes" [value]="brake.name">
                                        {{ brake.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'TRANSMISSION' | translate }}</mat-label>
                                <mat-select formControlName="transmission2">
                                    <mat-option *ngFor="let transmission of transmissions" [value]="transmission.name">
                                        {{ transmission.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <mat-form-field>
                                <mat-label>{{ 'DRIVE_SYSTEM' | translate }}</mat-label>
                                <mat-select formControlName="driveSystem2">
                                    <mat-option *ngFor="let driveSystem of driveSystems" [value]="driveSystem.name">
                                        {{ driveSystem.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <h3>{{ 'LEASING_FINANSING_TERMS' | translate }}</h3>
                <table class="customize-table" formGroupName="SecondFinancingTerms">
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'DURATION' | translate }}</mat-label>
                                <mat-select formControlName="duration2">
                                    <mat-option *ngFor="let duration of durations" [value]="duration.name">
                                        {{ duration.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>{{ 'ANNUAL_MILEAGE' | translate }}</mat-label>
                                <input formControlName="annualMileage2" placeholder="12000" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <mat-form-field>
                                <mat-label>{{ 'DOWN_PAYMENT' | translate }}</mat-label>
                                <input formControlName="downPayment2" placeholder="$4000" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <mat-form-field>
                                <mat-label>{{ 'MONTHLY_BUDGET' | translate }}</mat-label>
                                <input formControlName="monthlyBudget2" placeholder="$5000" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-checkbox formControlName="prepaidMaintenance2" class="checkbox-cust-form">
                                {{ 'PRE_PAID_MAINTENANCE' | translate }}
                            </mat-checkbox>
                        </td>
                        <td>
                            <mat-checkbox formControlName="tireWheelProtection2" class="checkbox-cust-form">
                                {{ 'TIRE_WHEEL_PROTECTION' | translate }}
                            </mat-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-checkbox formControlName="appearanceProtection2" class="checkbox-cust-form">
                                {{ 'APPEARANCE_PROTECTION' | translate }}
                            </mat-checkbox>
                        </td>
                        <td>
                            <mat-checkbox formControlName="excessWearTear2" class="checkbox-cust-form">
                                {{ 'EXCESS_WEAR_TEAR' | translate }}</mat-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-checkbox formControlName="dentDingProtection2" class="checkbox-cust-form">
                                {{ 'DENT_DING_PROTECTION' | translate }}
                            </mat-checkbox>
                        </td>
                    </tr>
                </table>



            </div>













            <h3 class="slogan">{{ 'SLOGAN_CUSTOMIZE_FORM' | translate }}</h3>
            <button type="submit" class="btn-customize-submit"
                [disabled]="customizeData.invalid">{{ 'SUBMIT' | translate }}</button>
        </form>
    </div>
</div>