<div class="modal-content">
    <div class="modal-body">
        <button type="button" class="btn-close" (click)="close()">x</button>
        <h1>{{ 'TERMS_OF_USE' | translate }}</h1>
        <br>
        <p class="justify">{{ 'TERMS_OF_USE_INFO' | translate }}</p>
        <br>
        <h2>{{ 'USER_ELEGIBILITY' | translate }}</h2>
        <p class="justify">{{ 'USER_ELEGIBILITY_BODY' | translate }}</p>
        <h2>{{ 'SCOPE_OF_TERMS' | translate }}</h2>
        <p class="justify">{{ 'SCOPE_OF_TERMS_BODY' | translate }}</p>
        <h2>{{ 'MODIFICATIONS' | translate }}</h2>
        <p class="justify">{{ 'MODIFICATIONS_BODY' | translate }}</p>
        <h2>{{ 'PRIVACY_NOTICE' | translate }}</h2>
        <p class="justify">{{ 'PRIVACY_NOTICE_BODY' | translate }}</p>
        <h2>{{ 'LICENCE_OWNERSHIP' | translate }}</h2>
        <p class="justify">{{ 'LICENCE_OWNERSHIP_BODY' | translate }}</p>
        <h2>{{ 'RESTICTIONS' | translate }}</h2>
        <p class="justify">{{ 'RESTICTIONS_BODY' | translate }}</p>
        <h2>{{ 'LINKS' | translate }}</h2>
        <p class="justify">{{ 'LINKS_BODY' | translate }}</p>
        <h2>{{ 'SUBMISSIONS' | translate }}</h2>
        <p class="justify">{{ 'SUBMISSIONS_BODY' | translate }}</p>
        <h2>{{ 'TERMINATIONS' | translate }}</h2>
        <p class="justify">{{ 'TERMINATIONS_BODY' | translate }}</p>
        <h2>{{ 'DISCLAIMERS' | translate }}</h2>
        <p class="justify">{{ 'DISCLAIMERS_BODY' | translate }}</p>
        <h2>{{ 'LIMITATIONS' | translate }}</h2>
        <p class="justify">{{ 'LIMITATIONS_BODY' | translate }}</p>
        <h2>{{ 'JURISDICTION' | translate }}</h2>
        <p class="justify">{{ 'JURISDICTION_BODY' | translate }}</p>
        <h2>{{ 'GOVERNING' | translate }}</h2>
        <p class="justify">{{ 'GOVERNING_BODY' | translate }}</p>
        <h2>{{ 'GENERAL' | translate }}</h2>
        <p class="justify">{{ 'GENERAL_BODY' | translate }}</p>
        <h2>{{ 'WRITTEN' | translate }}</h2>
        <p class="justify">{{ 'WRITTEN_BODY' | translate }}</p>
        <h2>{{ 'COMPLETE' | translate }}</h2>
        <p class="justify">{{ 'COMPLETE_BODY' | translate }}</p>
        <h2>{{ 'CARVOY' | translate }}</h2>
        <p class="justify">{{ 'CARVOY_BODY' | translate }}</p>
        <h2>{{ 'COLLECTION' | translate }}</h2>
        <p class="justify">{{ 'COLLECTION_BODY' | translate }}</p>
        <h2>{{ 'USE_PI' | translate }}</h2>
        <p class="justify">{{ 'USE_PI_BODY' | translate }}</p>
        <h2>{{ 'SHARING_PI' | translate }}</h2>
        <p class="justify">{{ 'SHARING_PI_BODY' | translate }}</p>
        <h2>{{ 'ACCESSING_PI' | translate }}</h2>
        <p class="justify">{{ 'ACCESSING_PI_BODY' | translate }}</p>
        <h2>{{ 'PI_PREFERENCES' | translate }}</h2>
        <p class="justify">{{ 'PI_PREFERENCES_BODY' | translate }}</p>
        <h2>{{ 'COOKIES' | translate }}</h2>
        <p class="justify">{{ 'COOKIES_BODY' | translate }}</p>
        <h2>{{ 'SECURITY' | translate }}</h2>
        <p class="justify">{{ 'SECURITY_BODY' | translate }}</p>
        <h2>{{ 'MARKET' | translate }}</h2>
        <p class="justify">{{ 'MARKET_BODY' | translate }}</p>
        <h2>{{ 'EMAIL_REFERRALS' | translate }}</h2>
        <p class="justify">{{ 'EMAIL_REFERRALS_BODY' | translate }}</p>
        <h2>{{ 'CHILDREN' | translate }}</h2>
        <p class="justify">{{ 'CHILDREN_BODY' | translate }}</p>
        <h2>{{ 'LINKS2' | translate }}</h2>
        <p class="justify">{{ 'LINKS2_BODY' | translate }}</p>
        <h2>{{ 'CHANGES_PRIVACY' | translate }}</h2>
        <p class="justify">{{ 'CHANGES_PRIVACY_BODY' | translate }}</p>
        <h2>{{ 'QUESTIONS' | translate }}</h2>
        <p class="justify">{{ 'QUESTIONS_BODY' | translate }}</p>
    </div>
</div>