.carousel {
  * {
    max-height: 700px;
  }
  div.image-carousel {
    width: 100%;
    height: 750px;
    background-position: 50% 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .owl-dots {
    margin-top: -26px !important;
    position: absolute;
    width: 100%;
    div {
      span {
        padding: 2px 2px !important;
        background-color: #adadad !important;
        border-radius: 2px !important;
        height: 1px !important;
      }
    }
    div.active {
      span {
        background: $black !important;
      }
    }
  }
}

.model-carousel {
  * {
    max-height: 300px;
  }
  div.owl-carousel {
    margin-top: 80px;
  }
  div.image-carousel {
    div {
      width: 250px;
      height: 200px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  div.owl-item,
  .image-carousel.ng-star-inserted {
    display: inline-block;
    justify-content: center;
  }
}
@media (min-width: 901px) {
  .model-carousel {
    display: none;
  }
}
.testimonials-carousel {
  div.owl-carousel {
    margin-top: 80px;
  }
  .owl-dots.ng-star-inserted {
    span {
      height: 5px;
      width: 15px;
    }
  }
  .owl-nav.ng-star-inserted {
    position: absolute;
    width: 100%;
    margin-top: -180px;
    .owl-prev {
      float: left;
      margin-left: -30px;
    }
    .owl-next {
      float: right;
      margin-right: -30px;
    }
  }
  .testimonial.ng-star-inserted {
    max-width: 600px;
  }
  .testimonial {
    margin: 0 auto;
    .border-dashed {
      margin: 0 auto;
      border: 1px dashed $black;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      .img-client {
        width: 120px;
        height: 120px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-top: 10px;
      }
    }
    .name {
      font-size: 20px;
    }
    .city {
      font-size: 15px;
      color: $dark-grey;
    }
    .text {
      font-size: 15px;
    }
  }
}
