.carousel {
  * {
    max-height: 600px;
  }
  div.image-carousel {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
  }
  .owl-dots {
    margin-top: -26px !important;
    position: absolute;
    width: 100%;
    div {
      span {
        padding: 3px 10px !important;
        background: $grey !important;
        border-radius: 2px !important;
        height: 1px !important;
      }
    }
    div.active {
      span {
        background: $black !important;
      }
    }
  }
}

.model-carousel {
  * {
    max-height: 300px;
  }
  div.owl-carousel {
    margin-top: 80px;
  }
  div.image-carousel {
    img {
      width: 90%;
    }
  }
  div.owl-item,
  .image-carousel.ng-star-inserted {
    display: inline-block;
    justify-content: center;
  }
}
@media (min-width: 901px) {
  .model-carousel {
    display: none;
  }
}
.testimonials-carousel {
  * {
    max-height: 400px;
  }
  div.owl-carousel {
    margin-top: 80px;
  }
  .owl-dots.ng-star-inserted {
    span {
      height: 5px;
      width: 15px;
    }
  }
  .testimonial.ng-star-inserted {
    max-width: 600px;
  }
  .testimonial {
    margin: 0 auto;
    .border-dashed {
      margin: 0 auto;
      border: 1px dashed $black;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      .img-client {
        width: 120px;
        height: 120px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        margin-top: 10px;
      }
    }
    .name {
      font-size: 20px;
    }
    .city {
      font-size: 15px;
      color: $dark-grey;
    }
    .text {
      font-size: 15px;
    }
  }
}
