.carousel {
  * {
    max-height: 600px;
  }
  div.image-carousel {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
  }
  .owl-dots {
    margin-top: -26px !important;
    position: absolute;
    width: 100%;
    div {
      span {
        padding: 3px 10px !important;
        background: $grey !important;
        border-radius: 2px !important;
        height: 1px !important;
      }
    }
    div.active {
      span {
        background: $black !important;
      }
    }
  }
}
.brand-carousel {
  * {
    max-height: 300px;
  }
  div.owl-carousel {
    margin-top: 80px;
  }
  div.image-carousel {
    width: 150px;
    height: 150px;
    img {
      width: 50%;
    }
  }
  div.owl-item,
  .image-carousel.ng-star-inserted {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 901px) {
  .brand-carousel {
    display: none;
  }
}
