.footer {
  background-color: $dark-blue;
  min-height: 100px;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @media (max-width: 541px) {
    justify-content: flex-start;
  }
  p a {
    color: $white !important;
    margin-bottom: 5px;
    text-decoration: none !important;
  }
  div {
    @media (max-width: 654px) {
      margin-bottom: 20px;
    }
  }
  span.brand {
    font-weight: bold !important;
    font-size: 20px !important;
    color: $red;
    text-transform: uppercase;
    font-family: "Ethnocentric";
  }
  div.cont-terms {
    display: flex;
    margin-top: 20px;
    min-width: 250px;
    span {
      cursor: pointer;
    }
  }
  div.icons-container {
    display: flex;
    justify-content: space-between;
    width: 100px;
    div.social-media-icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
@media screen and (min-device-width: 1350px), screen and (min-width: 1350px) {
  .footer {
    p a {
      margin-bottom: 15px;
      font-size: 20px;
    }
    span.brand {
      font-size: 30px !important;
    }
    .cont-terms {
      font-size: 20px;
    }
    span.extra-bold {
      font-size: 25px;
    }
    div.icons-container {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 200px;
      div.social-media-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}
