.header {
  position: fixed;
  z-index: 10;
  color: $black !important;
  background-color: $transparent !important;
  transition: 0.2s;
  mat-toolbar-row {
    justify-content: space-evenly;
    span {
      font-size: 15px !important;
      font-weight: 100 !important;
      cursor: pointer;
      transition: 0.1s;
    }
    span.brand {
      font-weight: bold !important;
      font-size: 20px !important;
      color: $red;
      text-transform: uppercase;
      font-family: "Ethnocentric", "Gilroy";
    }
  }
  mat-toolbar-row.movil {
    display: none;
  }
}
.dark {
  background-color: $dark-blue !important;
  color: $white !important;
}
.menu-movil {
  display: none;
}
@media (max-width: 750px) {
  .header {
    background-color: $dark-blue !important;
    mat-toolbar-row.desktop {
      display: none !important;
    }
    mat-toolbar-row.movil {
      display: flex;
      justify-content: flex-start;
      button {
        color: $white;
        background-color: $transparent;
        border: none;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
  .menu-movil {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    color: $white;
    z-index: 10;
    transition: 0.5s;
    ul {
      width: 100%;
      line-height: 4;
      list-style: none;
      margin-top: 30px;
      text-align: center;
      padding: 0;
      li.brand {
        font-weight: bold !important;
        font-size: 20px !important;
        color: $red;
        text-transform: uppercase;
        font-family: "Ethnocentric", "Gilroy";
      }
    }
    button {
      color: $white;
      background-color: $transparent;
      border: none;
      cursor: pointer;
      margin-left: 10px;
      margin-top: 10px;
      i {
        font-size: 30px;
      }
    }
  }
  .menu-closed {
    margin-top: -200% !important;
  }
}
@media screen and (min-device-width: 1350px), screen and (min-width: 1350px) {
  .header {
    mat-toolbar-row {
      span {
        font-size: 20px !important;
        font-weight: 100 !important;
      }
      span.brand {
        font-size: 25px !important;
      }
    }
  }
}
