.modal-content {
  background-color: $dark-blue !important;
  width: 100% !important;
  height: 80% !important;
  margin: 0 !important;
  max-width: 100% !important;
  position: absolute !important;
  left: 0 !important;
  overflow: auto;
  padding-top: 50px !important;
  padding-bottom: 200px !important;

  button.btn-close {
    position: fixed;
    color: white;
    background: transparent;
    border: none;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
  }

  .modal-body {
    padding: 35px;
    background-color: $white;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
  }

  button.btn-customize-submit {
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: $yellow;
    border-radius: 10px;
    background: $transparent;
    border: 1px solid $yellow;
    display: block;
    margin: 20px auto;
    cursor: pointer;
  }
button.btn-customize-submit:disabled {
  background-color: $grey;
  color: $dark-grey;
  border-color: $dark-grey;
}
}