<div class="container-home-text">
    <p class="principal-text"><span class="extra-bold">Leasing</span> and sales<br>beat the <span
            class="extra-bold">dealer</span></p>
    <p class="secondary-text">We offer the lowest prices!</p>
</div>
<owl-carousel-o [options]="customOptions" class="carousel">
    <ng-template carouselSlide>
        <div class="image-carousel" style="background-image: url(./../../assets/images/home.png);"></div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="image-carousel" style="background-image: url(./../../assets/images/home.png);"></div>
    </ng-template>
</owl-carousel-o>